<div class="h-full bg-gray-100 flex flex-col relative overflow-hidden preview-wrapper" [ngStyle]="getPreviewStyles()">
  <!-- Live Preview Tag -->
  <!-- <div
    class="absolute top-2 right-4 z-10 flex items-center gap-2 px-3 py-2 bg-success/10 text-success border border-success/20 rounded-full text-[10px] font-medium tracking-widest shadow-sm preview-label">
    <span class="w-1.5 h-1.5 text-[12px] rounded-full bg-success animate-[pulse_2s_infinite] preview-dot"></span>
    Live Preview
  </div> -->

  <!-- Content Area -->
  <div class="flex-1 overflow-y-auto overflow-x-hidden px-3 pt-10 pb-3 flex flex-col items-center gap-8 preview-scroll"
    #previewScrollContainer>
    <app-preview-cover [data]="data"
      class="bg-white shadow-2xl rounded-sm overflow-hidden preview-page"></app-preview-cover>
    <app-preview-summary [data]="data"
      class="bg-white shadow-2xl rounded-sm overflow-hidden preview-page"></app-preview-summary>
    <app-preview-logo [data]="data"
      class="bg-white shadow-2xl rounded-sm overflow-hidden preview-page"></app-preview-logo>
    <app-preview-colors [data]="data"
      class="bg-white shadow-2xl rounded-sm overflow-hidden preview-page"></app-preview-colors>
    <app-preview-typography [data]="data"
      class="bg-white shadow-2xl rounded-sm overflow-hidden preview-page"></app-preview-typography>
    <app-preview-iconography [data]="data"
      class="bg-white shadow-2xl rounded-sm overflow-hidden preview-page"></app-preview-iconography>
  </div>
</div>